<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>life hospital</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  .RR{
    font-size: 130%;
    text-align: center;
    color: rgb(244, 247, 248);
    background-color: blue   ;
    border-bottom: 6px solid red;
    width: 100%;
    
    

    }

.KK{
    font-size: 130%;
    text-align: left;
    color: red;
    padding: 5px;
    }

</style>
</head>

<body style="background-color: aliceblue">
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <br>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Contact Us !</h3>
  </center>

  <div class="RR">
    <h1><font face="LemonMilkBold Black  " ><a style="width: 100%; text-align: center; font-size: 100%; padding-left: 400px; padding-right: 400px">Staff Information</a>
      </font>
    </h1>
  </div>
  
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  ADMINISTRATION </k>
      </font>
    </h1>
  </div>
  
  
  <div style="width: 75%; text-align: left; font-size: 120%; padding-left: 2px; color: darkblue;">
  <ul>
    <li>
      <p style="font-size: 110%;"><b>ShariLejsek-Administrator</b> - Shari oversees all departments and the 24 hour/7 day week operation of the hospital.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Lea Tate- Psy.D-Associate Administrator</b> - Lea assists the Administrator in making sure the needs of our physicians </p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Medical Staff-Cynthia Masters</b> -&nbsp; &nbsp;  Manages the medical staff function and handles all paperwork for physicians to be approved to do surgery at PHR.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Health Information Management- Sally Tenney, RHIT</b> - Manages this department and oversees all the medical 
      records for the hospital.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Human Resources- Brenda Meline</b>- responsible for the Human Resources department which handles recruiting, 
      hiring, benefits, and workers'compensation.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Materials Manager- Kathy Coduti</b>- Materials Management and oversees ordering supplies and making sure the 
      appropriate instruments are ready for each surgery.</p>
    </li>
    
  
  
  </ul>
  </div>
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  NURSING SERVICES </k>
      </font>
    </h1>
  </div>
  
  <div style="width: 80%; text-align: left; font-size: 120%; padding-left: 10px; color: darkblue;">
  <ul>
     <li>
      <p style="font-size: 110%;"><b>Director of Patient Care Services- Diane Rieke, RN</b> - Responsible for the organization and management of all nursing services including the OR, Recovery Room, PAR II and the Med/Surg floor.</p>
    </li>
  
    <li>
      <p style="font-size: 110%;"><b>Surgical Services Manager- Shanna Merideth, RN</b> - Manages the OR and Recovery room staff and all surgical services.</p>
    </li>
  
    <li>
      <p style="font-size: 110%;"><b>Discharge Planning/Pharmacy- Debbie Hatt, LVN</b> - coordinates with nursing staff to ensure that any discharge planning needs are met. Debbie is responsible for ordering and stocking our pharmaceuticals.</p>
    </li>
  
    <li>
      <p style="font-size: 110%;"><b>Employee Health- Christine Anderson, RN</b> - Responsible for monitoring, evaluating and coordinating the hospitals’ employee health program.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Infection Prevention- Christine Anderson, RN</b> - Materials Management and oversees ordering supplies and making sure the appropriate instruments are ready for each surgery.</p>
    </li>
   </ul>
  </div>
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  PHYSICIAN CHIEFS </k>
      </font>
    </h1>
  </div>
  
  <div style="width: 80%; text-align: left; font-size: 120%; padding-left: 1px; color: darkblue;">
  <ul>
     <li>
      <p style="font-size: 110%;"><b>Chief of Staff- Dr. James Tate</b> - A neurosurgeon, is Chief of Staff and the owner of the hospital.</p>
    </li>
  
   </ul>
  </div>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>
</html>
